<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket search</title>
</head>
<body>

    <form action="{% url 'ticketsearch_results' %}" method="get">
        <p>
            Indicate a ticket status:
            <input type="text" name="status">
            <input type="submit" value="Search">
        </p>
    </form>
    
</body>
</html>